services:

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
      
  pg_database:
    image: postgres:17.6 
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: securities_db
    ports:
      - "5432:5432"

  pg_admin:
    image: dpage/pgadmin4:9.9.0
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "8080:80"
    depends_on:
      - pg_database

  # pipeline:
  #   image: securities-data-pipeline:latest
  #   build:
  #     context: .
  #     args:
  #       - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
  #       - AWS_SECRET_KEY=${AWS_SECRET_KEY}
  #       - S3_ENDPOINT=${S3_ENDPOINT}
  #       - BUCKET_NAME=${BUCKET_NAME}
  #       - PREFECT_API_URL=${PREFECT_API_URL}


      