services:

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ../data/minio:/data
    network_mode: "host"
    restart: always
    command: server /data --address ":9002" --console-address ":9003"

  postgresdb:
    image: postgres:17.6
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prefect
      PGPORT: 5433
    volumes:
      - ../data/postgres:/var/lib/postgresql/data
    network_mode: "host"
    restart: always

  prefect_server:
    image: prefecthq/prefect:3-python3.12
    depends_on:
      - postgresdb
    environment:
      PREFECT_API_DATABASE_CONNECTION_URL: postgresql+asyncpg://postgres:postgres@localhost:5433/prefect
      PREFECT_API_URL: http://localhost:4201/api
    network_mode: "host"
    restart: always
    command: prefect server start --port 4201

  prefect_docker_worker:
    image: prefecthq/prefect:3-python3.12
    depends_on:
      - prefect_server
    environment:
      PREFECT_API_URL: http://localhost:4201/api
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../prefect_job_templates:/prefect_job_templates
    network_mode: "host"
    restart: always
    command: > 
      prefect worker start --name docker-worker --pool docker-pool 
      --type docker --install-policy if-not-present 
      --base-job-template /prefect_job_templates/docker-template.json
