# Compose file for on-premise deployment of Prefect Server, MinIO, Postgres, and Metabase

services:

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ../../data/minio:/data
    network_mode: "host"
    restart: always
    command: server /data --address ":9002" --console-address ":9003"

  postgresdb:
    image: postgres:17.6
    environment:
      POSTGRES_PASSWORD: postgres
      PGPORT: 5433
    volumes:
      - ../../data/postgres:/var/lib/postgresql/data
      - ./pg-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    network_mode: "host"
    restart: always

  prefect_server:
    image: prefecthq/prefect:3-python3.12
    depends_on:
      - postgresdb
    environment:
      PREFECT_API_DATABASE_CONNECTION_URL: postgresql+asyncpg://postgres:postgres@localhost:5433/prefect # Uses default postgres user
      PREFECT_API_URL: http://localhost:4201/api
    network_mode: "host"
    restart: always
    command: prefect server start --port 4201

  prefect_docker_worker:
    image: prefecthq/prefect:3-python3.12
    depends_on:
      - prefect_server
    environment:
      PREFECT_API_URL: http://localhost:4201/api
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../../prefect_job_templates:/prefect_job_templates
    network_mode: "host"
    restart: always
    command: > 
      prefect worker start --name docker-worker --pool docker-pool 
      --type docker --install-policy if-not-present 
      --base-job-template /prefect_job_templates/docker-template.json

  metabase:
    image: metabase/metabase:v0.58.2.x 
    depends_on:
      - postgresdb
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5433
      MB_DB_USER: postgres # Default user set by postgres image
      MB_DB_PASS: postgres
      MB_DB_HOST: localhost
    network_mode: "host"
    restart: always
